# Table of Contents
 <p><div class="lev1"><a href="#Introduction-to-Pandas"><span class="toc-item-num">1&nbsp;&nbsp;</span>Introduction to Pandas</a></div><div class="lev2"><a href="#Pandas-Data-Structures"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Pandas Data Structures</a></div><div class="lev3"><a href="#Series"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Series</a></div><div class="lev3"><a href="#DataFrame"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>DataFrame</a></div><div class="lev3"><a href="#Exercise"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>Exercise</a></div><div class="lev3"><a href="#Exercise"><span class="toc-item-num">1.1.4&nbsp;&nbsp;</span>Exercise</a></div><div class="lev2"><a href="#Importing-data"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Importing data</a></div><div class="lev3"><a href="#Microsoft-Excel"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Microsoft Excel</a></div><div class="lev2"><a href="#Pandas-Fundamentals"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Pandas Fundamentals</a></div><div class="lev3"><a href="#Manipulating-indices"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>Manipulating indices</a></div><div class="lev2"><a href="#Indexing-and-Selection"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Indexing and Selection</a></div><div class="lev3"><a href="#Exercise"><span class="toc-item-num">1.4.1&nbsp;&nbsp;</span>Exercise</a></div><div class="lev2"><a href="#Operations"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Operations</a></div><div class="lev2"><a href="#Sorting-and-Ranking"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Sorting and Ranking</a></div><div class="lev3"><a href="#Exercise"><span class="toc-item-num">1.6.1&nbsp;&nbsp;</span>Exercise</a></div><div class="lev2"><a href="#Hierarchical-indexing"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>Hierarchical indexing</a></div><div class="lev2"><a href="#Missing-data"><span class="toc-item-num">1.8&nbsp;&nbsp;</span>Missing data</a></div><div class="lev3"><a href="#Exercise"><span class="toc-item-num">1.8.1&nbsp;&nbsp;</span>Exercise</a></div><div class="lev2"><a href="#Data-summarization"><span class="toc-item-num">1.9&nbsp;&nbsp;</span>Data summarization</a></div><div class="lev2"><a href="#Writing-Data-to-Files"><span class="toc-item-num">1.10&nbsp;&nbsp;</span>Writing Data to Files</a></div><div class="lev3"><a href="#Advanced-Exercise:-Compiling-Ebola-Data"><span class="toc-item-num">1.10.1&nbsp;&nbsp;</span>Advanced Exercise: Compiling Ebola Data</a></div><div class="lev2"><a href="#References"><span class="toc-item-num">1.11&nbsp;&nbsp;</span>References</a></div>

# Introduction to Pandas

**pandas** is a Python package providing fast, flexible, and expressive data structures designed to work with *relational* or *labeled* data both. It is a fundamental high-level building block for doing practical, real world data analysis in Python. 

pandas is well suited for:

- Tabular data with heterogeneously-typed columns, as in an SQL table or Excel spreadsheet
- Ordered and unordered (not necessarily fixed-frequency) time series data.
- Arbitrary matrix data (homogeneously typed or heterogeneous) with row and column labels
- Any other form of observational / statistical data sets. The data actually need not be labeled at all to be placed into a pandas data structure


Key features:
    
- Easy handling of **missing data**
- **Size mutability**: columns can be inserted and deleted from DataFrame and higher dimensional objects
- Automatic and explicit **data alignment**: objects can be explicitly aligned to a set of labels, or the data can be aligned automatically
- Powerful, flexible **group by functionality** to perform split-apply-combine operations on data sets
- Intelligent label-based **slicing, fancy indexing, and subsetting** of large data sets
- Intuitive **merging and joining** data sets
- Flexible **reshaping and pivoting** of data sets
- **Hierarchical labeling** of axes
- Robust **IO tools** for loading data from flat files, Excel files, databases, and HDF5
- **Time series functionality**: date range generation and frequency conversion, moving window statistics, moving window linear regressions, date shifting and lagging, etc.

In [ ]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None  # default='warn'

## Pandas Data Structures

### Series

A **Series** is a single vector of data (like a NumPy array) with an *index* that labels each element in the vector.

In [ ]:
counts = pd.Series([632, 1638, 569, 115])
counts

If an index is not specified, a default sequence of integers is assigned as the index. A NumPy array comprises the values of the `Series`, while the index is a pandas `Index` object.

In [ ]:
counts.values

In [ ]:
counts.index

We can assign meaningful labels to the index, if they are available:

In [ ]:
bacteria = pd.Series([632, 1638, 569, 115], 
    index=['Firmicutes', 'Proteobacteria', 'Actinobacteria', 'Bacteroidetes'])

bacteria

These labels can be used to refer to the values in the `Series`.

In [ ]:
bacteria['Actinobacteria']

In [ ]:
bacteria[[name.endswith('bacteria') for name in bacteria.index]]

In [ ]:
[name.endswith('bacteria') for name in bacteria.index]

Notice that the indexing operation preserved the association between the values and the corresponding indices.

We can still use positional indexing if we wish.

In [ ]:
bacteria[0]

We can give both the array of values and the index meaningful labels themselves:

In [ ]:
bacteria.name = 'counts'
bacteria.index.name = 'phylum'
bacteria

NumPy's math functions and other operations can be applied to Series without losing the data structure.

In [ ]:
np.log(bacteria)

We can also filter according to the values in the `Series`:

In [ ]:
bacteria[bacteria>1000]

A `Series` can be thought of as an ordered key-value store. In fact, we can create one from a `dict`:

In [ ]:
bacteria_dict = {'Firmicutes': 632, 'Proteobacteria': 1638, 'Actinobacteria': 569,
                 'Bacteroidetes': 115}
pd.Series(bacteria_dict)

Notice that the `Series` is created in key-sorted order.

If we pass a custom index to `Series`, it will select the corresponding values from the dict, and treat indices without corrsponding values as missing. Pandas uses the `NaN` (not a number) type for missing values.

In [ ]:
bacteria2 = pd.Series(bacteria_dict, 
                      index=['Cyanobacteria','Firmicutes',
                             'Proteobacteria','Actinobacteria'])
bacteria2

In [ ]:
bacteria2.isnull()

Critically, the labels are used to **align data** when used in operations with other Series objects:

In [ ]:
bacteria + bacteria2

Contrast this with NumPy arrays, where arrays of the same length will combine values element-wise; adding Series combined values with the same label in the resulting series. Notice also that the missing values were propogated by addition.

### DataFrame

Inevitably, we want to be able to store, view and manipulate data that is *multivariate*, where for every index there are multiple fields or columns of data, often of varying data type.

A `DataFrame` is a tabular data structure, encapsulating multiple series like columns in a spreadsheet. Data are stored internally as a 2-dimensional object, but the `DataFrame` allows us to represent and manipulate higher-dimensional data.

In [ ]:
data = pd.DataFrame({'value':[632, 1638, 569, 115, 433, 1130, 754, 555],
                     'patient':[1, 1, 1, 1, 2, 2, 2, 2],
                     'phylum':['Firmicutes', 'Proteobacteria', 'Actinobacteria', 
    'Bacteroidetes', 'Firmicutes', 'Proteobacteria', 'Actinobacteria', 'Bacteroidetes']})
data

Notice the `DataFrame` is sorted by column name. We can change the order by indexing them in the order we desire:

In [ ]:
data[['phylum','value','patient']]

A `DataFrame` has a second index, representing the columns:

In [ ]:
data.columns

The `dtypes` attribute reveals the data type for each column in our DataFrame. 

- `int64` is numeric integer values 
- `object` strings (letters and numbers)
- `float64` floating-point values

In [ ]:
data.dtypes

If we wish to access columns, we can do so either by dict-like indexing or by attribute:

In [ ]:
data['patient']

In [ ]:
data.patient

In [ ]:
type(data.value)

In [ ]:
data[['value']]

Notice this is different than with `Series`, where dict-like indexing retrieved a particular element (row). 

If we want access to a row in a `DataFrame`, we index its `loc` attribute.

In [ ]:
data.loc[3]

### Exercise

Try out these commands to see what they return:

- `data.head()`
- `data.tail(3)`
- `data.shape`

The first 5 items in the dataframe data.

In [ ]:
data.head()

data.tail() returns the last n rows and n = 5 by default. Here, it returns the last 3 rows.

In [ ]:
data.tail(3)

data.tail() returns the last n rows and n = 5 by default. Here, it returns the last 3 rows.

In [ ]:
data.shape

An alternative way of initializing a `DataFrame` is with a list of dicts:

In [ ]:
data = pd.DataFrame([{'patient': 1, 'phylum': 'Firmicutes', 'value': 632},
                    {'patient': 1, 'phylum': 'Proteobacteria', 'value': 1638},
                    {'patient': 1, 'phylum': 'Actinobacteria', 'value': 569},
                    {'patient': 1, 'phylum': 'Bacteroidetes', 'value': 115},
                    {'patient': 2, 'phylum': 'Firmicutes', 'value': 433},
                    {'patient': 2, 'phylum': 'Proteobacteria', 'value': 1130},
                    {'patient': 2, 'phylum': 'Actinobacteria', 'value': 754},
                    {'patient': 2, 'phylum': 'Bacteroidetes', 'value': 555}])

In [ ]:
data

Its important to note that the Series returned when a DataFrame is indexted is merely a **view** on the DataFrame, and not a copy of the data itself. So you must be cautious when manipulating this data:

In [ ]:
vals = data.value
vals

In [ ]:
vals[5] = 0
vals

If we plan on modifying an extracted Series, its a good idea to make a copy.

In [ ]:
vals = data.value.copy()
vals[5] = 1000
vals

We can create or modify columns by assignment:

In [ ]:
data.value[[3,4,6]] = [14, 21, 5]
data

In [ ]:
data['year'] = 2013
data

But note, we cannot use the attribute indexing method to add a new column:

In [ ]:
data.treatment = 1
data

In [ ]:
data.treatment

### Exercise

From the `data` table above, create an index to return all rows for which the phylum name ends in "bacteria" and the value is greater than 1000.

Solution: 
create two mask matrices to filter the target solution:
    
    - whether the phylum of item ends with bacteria: [name.endswith('bacteria') for name in data.phylum]
    - whether the value of this item is greater than 1000: dat.value > 1000
    
Then we use *logical and* to select those rows satisfying both requirements

In [1]:
# Write your answer here 
data[[name.endswith('bacteria') for name in data.phylum] & 
    (data.value > 1000)]
data

NameError: name 'data' is not defined

Specifying a `Series` as a new columns cause its values to be added according to the `DataFrame`'s index:

In [ ]:
treatment = pd.Series([0]*4 + [1]*2)
treatment

In [ ]:
data['treatment'] = treatment
data

Other Python data structures (ones without an index) need to be the same length as the `DataFrame`:

In [ ]:
month = ['Jan', 'Feb', 'Mar', 'Apr']
data['month'] = month

In [ ]:
data['month'] = ['Jan']*len(data)
data

We can use the `drop` method to remove rows or columns, which by default drops rows. We can be explicit by using the `axis` argument:

In [ ]:
data_nomonth = data.drop('month', axis=1)
data_nomonth

We can extract the underlying data as a simple `ndarray` by accessing the `values` attribute:

In [ ]:
data.values

Notice that because of the mix of string and integer (and `NaN`) values, the dtype of the array is `object`. The dtype will automatically be chosen to be as general as needed to accomodate all the columns.

In [ ]:
df = pd.DataFrame({'foo': [1,2,3], 'bar':[0.4, -1.0, 4.5]})
df.values

Pandas uses a custom data structure to represent the indices of Series and DataFrames.

In [ ]:
data.index

Index objects are immutable:

In [ ]:
data.index[0] = 15

This is so that Index objects can be shared between data structures without fear that they will be changed.

In [ ]:
bacteria2.index = bacteria.index

In [ ]:
bacteria2

## Importing data

A key, but often under-appreciated, step in data analysis is importing the data that we wish to analyze. Though it is easy to load basic data structures into Python using built-in tools or those provided by packages like NumPy, it is non-trivial to import structured data well, and to easily convert this input into a robust data structure:

    genes = np.loadtxt("genes.csv", delimiter=",", dtype=[('gene', '|S10'), ('value', '<f4')])

Pandas provides a convenient set of functions for importing tabular data in a number of formats directly into a `DataFrame` object. These functions include a slew of options to perform type inference, indexing, parsing, iterating and cleaning automatically as data are imported.

Let's start with some more bacteria data, stored in csv format.

In [ ]:
!cat Data/microbiome.csv

This table can be read into a DataFrame using `read_csv`:

In [ ]:
mb = pd.read_csv("data/microbiome.csv")
mb

Notice that `read_csv` automatically considered the first row in the file to be a header row.

We can override default behavior by customizing some the arguments, like `header`, `names` or `index_col`.

In [ ]:
pd.read_csv("Data/microbiome.csv", header=None).head()

`read_csv` is just a convenience function for `read_table`, since csv is such a common format:

In [ ]:
mb = pd.read_table("Data/microbiome.csv", sep=',')

The `sep` argument can be customized as needed to accomodate arbitrary separators. For example, we can use a regular expression to define a variable amount of whitespace, which is unfortunately very common in some data formats: 
    
    sep='\s+'

For a more useful index, we can specify the first two columns, which together provide a unique index to the data.

In [ ]:
mb = pd.read_csv("Data/microbiome.csv", index_col=['Patient','Taxon'])
mb.head()

This is called a *hierarchical* index, which we will revisit later in the section.

If we have sections of data that we do not wish to import (for example, known bad data), we can populate the `skiprows` argument:

In [ ]:
pd.read_csv("Data/microbiome.csv", skiprows=[3,4,6]).head()

If we only want to import a small number of rows from, say, a very large data file we can use `nrows`:

In [ ]:
pd.read_csv("Data/microbiome.csv", nrows=4)

Alternately, if we want to process our data in reasonable chunks, the `chunksize` argument will return an iterable object that can be employed in a data processing loop. For example, our microbiome data are organized by bacterial phylum, with 15 patients represented in each:

In [ ]:
pd.read_csv("Data/microbiome.csv", chunksize=15)

In [ ]:
data_chunks = pd.read_csv("Data/microbiome.csv", chunksize=15)

mean_tissue = pd.Series({chunk.Taxon[0]: chunk.Tissue.mean() for chunk in data_chunks})
    
mean_tissue

Most real-world data is incomplete, with values missing due to incomplete observation, data entry or transcription error, or other reasons. Pandas will automatically recognize and parse common missing data indicators, including `NA` and `NULL`.

In [ ]:
cat Data/microbiome_missing.csv

In [ ]:
pd.read_csv("Data/microbiome_missing.csv").head(20)

Above, Pandas recognized `NA` and an empty field as missing data.

In [ ]:
pd.isnull(pd.read_csv("Data/microbiome_missing.csv")).head(20)

Unfortunately, there will sometimes be inconsistency with the conventions for missing data. In this example, there is a question mark "?" and a large negative number where there should have been a positive integer. We can specify additional symbols with the `na_values` argument:

In [ ]:
pd.read_csv("Data/microbiome_missing.csv", na_values=['?', -99999]).head(20)

These can be specified on a column-wise basis using an appropriate dict as the argument for `na_values`.

### Microsoft Excel

Since so much financial and scientific data ends up in Excel spreadsheets (regrettably), Pandas' ability to directly import Excel spreadsheets is valuable. This support is contingent on having one or two dependencies (depending on what version of Excel file is being imported) installed: `xlrd` and `openpyxl` (these may be installed with either `pip` or `easy_install`).

The read_excel convenience function in pandas imports a specific sheet from an Excel file

In [ ]:
mb = pd.read_excel('Data/microbiome/MID2.xls', sheetname='Sheet 1', header=None)
mb.head()

There are several other data formats that can be imported into Python and converted into DataFrames, with the help of buitl-in or third-party libraries. These include JSON, XML, HDF5, relational and non-relational databases, and various web APIs. These are beyond the scope of this tutorial, but are covered in [Python for Data Analysis](http://shop.oreilly.com/product/0636920023784.do).

## Pandas Fundamentals

This section introduces the new user to the key functionality of Pandas that is required to use the software effectively.

For some variety, we will leave our digestive tract bacteria behind and employ some baseball data.

In [ ]:
baseball = pd.read_csv("Data/baseball.csv", index_col='id')
baseball.head()

Notice that we specified the `id` column as the index, since it appears to be a unique identifier. We could try to create a unique index ourselves by combining `player` and `year`:

In [ ]:
player_id = baseball.player + baseball.year.astype(str)
baseball_newind = baseball.copy()
baseball_newind.index = player_id
baseball_newind.head()

This looks okay, but let's check:

In [ ]:
baseball_newind.index.is_unique

So, indices need not be unique. Our choice is not unique because some players change teams within years.

In [ ]:
pd.Series(baseball_newind.index).value_counts()

The most important consequence of a non-unique index is that indexing by label will return multiple values for some labels:

In [ ]:
baseball_newind.loc['wickmbo012007']

We will learn more about indexing below.

We can create a truly unique index by combining `player`, `team` and `year`:

In [ ]:
player_unique = baseball.player + baseball.team + baseball.year.astype(str)
baseball_newind = baseball.copy()
baseball_newind.index = player_unique
baseball_newind.head()

In [ ]:
baseball_newind.index.is_unique

We can create meaningful indices more easily using a hierarchical index; for now, we will stick with the numeric `id` field as our index.

### Manipulating indices

**Reindexing** allows users to manipulate the data labels in a DataFrame. It forces a DataFrame to conform to the new index, and optionally, fill in missing data if requested.

A simple use of `reindex` is to alter the order of the rows:

In [ ]:
baseball.reindex(baseball.index[::-1]).head()

Notice that the `id` index is not sequential. Say we wanted to populate the table with every `id` value. We could specify and index that is a sequence from the first to the last `id` numbers in the database, and Pandas would fill in the missing data with `NaN` values:

In [ ]:
id_range = range(baseball.index.values.min(), baseball.index.values.max())
baseball.reindex(id_range).head()

Missing values can be filled as desired, either with selected values, or by rule:

In [ ]:
baseball.reindex(id_range, method='ffill', columns=['player','year']).head()

In [ ]:
baseball.reindex(id_range, fill_value='charliebrown', columns=['player']).head()

Keep in mind that `reindex` does not work if we pass a non-unique index series.

We can remove rows or columns via the `drop` method:

In [ ]:
baseball.shape

In [ ]:
baseball.drop([89525, 89526])

In [ ]:
baseball.drop(['ibb','hbp'], axis=1)

## Indexing and Selection

Indexing works analogously to indexing in NumPy arrays, except we can use the labels in the `Index` object to extract values in addition to arrays of integers.

In [ ]:
# Sample Series object
hits = baseball_newind.h
hits

In [ ]:
# Numpy-style indexing
hits[:3]

In [ ]:
# Indexing by label
hits[['womacto01CHN2006','schilcu01BOS2006']]

We can also slice with data labels, since they have an intrinsic order within the Index:

In [ ]:
hits['womacto01CHN2006':'gonzalu01ARI2006']

In [ ]:
hits['womacto01CHN2006':'gonzalu01ARI2006'] = 5
hits

In a `DataFrame` we can slice along either or both axes:

In [ ]:
baseball_newind[['h','ab']]

In [ ]:
baseball_newind[baseball_newind.ab>500]

For a more concise (and readable) syntax, we can use the new `query` method to perform selection on a `DataFrame`. Instead of having to type the fully-specified column, we can simply pass a string that describes what to select. The query above is then simply:

In [ ]:
baseball_newind.query('ab > 500')

The `DataFrame.index` and `DataFrame.columns` are placed in the query namespace by default. If you want to refer to a variable in the current namespace, you can prefix the variable with `@`:

In [ ]:
min_ab = 450

In [ ]:
baseball_newind.query('ab > @min_ab')

The indexing field `loc` allows us to select subsets of rows and columns in an intuitive way:

In [ ]:
baseball_newind.loc['gonzalu01ARI2006', ['h','X2b', 'X3b', 'hr']]

In [ ]:
baseball_newind.loc[:'myersmi01NYA2006', 'hr']

In addition to using `loc` to select rows and columns by **label**, pandas also allows indexing by **position** using the `iloc` attribute.

So, we can query rows and columns by absolute position, rather than by name:

In [ ]:
baseball_newind.iloc[:5, 5:8]

### Exercise

You can use the `isin` method query a DataFrame based upon a list of values as follows: 

    data['phylum'].isin(['Firmacutes', 'Bacteroidetes'])

Use `isin` to find all players that played for the Los Angeles Dodgers (LAN) or the San Francisco Giants (SFN). How many records contain these values?

Solution:
Fix the Series baseball_newind['team'], we use *isin* to test if their team is in the list ['LAN', 'SFN']. 
It returns a boolean Series. 
We sum up this Series to get the number of players in these two teams.

In [ ]:
# Write your answer here
# find the frame that satisfy the condition
player_frame = baseball[baseball['team'].isin(['LAN', 'SFN'])]
print(player_frame['player'])
# print the number of records
print('The number of records is: ',len(baseball[baseball['team'].isin(['LAN', 'SFN'])]))

## Operations

`DataFrame` and `Series` objects allow for several operations to take place either on a single object, or between two or more objects.

For example, we can perform arithmetic on the elements of two objects, such as combining baseball statistics across years. First, let's (artificially) construct two Series, consisting of home runs hit in years 2006 and 2007, respectively:

In [ ]:
hr2006 = baseball.loc[baseball.year==2006, 'hr']
hr2006.index = baseball.player[baseball.year==2006]

hr2007 = baseball.loc[baseball.year==2007, 'hr']
hr2007.index = baseball.player[baseball.year==2007]

In [ ]:
hr2007

Now, let's add them together, in hopes of getting 2-year home run totals:

In [ ]:
hr_total = hr2006 + hr2007
hr_total

Pandas' data alignment places `NaN` values for labels that do not overlap in the two Series. In fact, there are only 6 players that occur in both years.

In [ ]:
hr_total[hr_total.notnull()]

While we do want the operation to honor the data labels in this way, we probably do not want the missing values to be filled with `NaN`. We can use the `add` method to calculate player home run totals by using the `fill_value` argument to insert a zero for home runs where labels do not overlap:

In [ ]:
hr2007.add(hr2006, fill_value=0)

Operations can also be **broadcast** between rows or columns.

For example, if we subtract the maximum number of home runs hit from the `hr` column, we get how many fewer than the maximum were hit by each player:

In [ ]:
baseball.hr - baseball.hr.max()

Or, looking at things row-wise, we can see how a particular player compares with the rest of the group with respect to important statistics

In [ ]:
baseball.loc[89521, "player"]

In [ ]:
stats = baseball[['h','X2b', 'X3b', 'hr']]
diff = stats - stats.loc[89521]
diff[:10]

We can also apply functions to each column or row of a `DataFrame`

In [ ]:
stats.apply(np.median)

In [ ]:
def range_calc(x):
    return x.max() - x.min()

In [ ]:
stat_range = lambda x: x.max() - x.min()
stats.apply(stat_range)

Lets use apply to calculate a meaningful baseball statistics, [slugging percentage](https://en.wikipedia.org/wiki/Slugging_percentage):

$$SLG = \frac{1B + (2 \times 2B) + (3 \times 3B) + (4 \times HR)}{AB}$$

And just for fun, we will format the resulting estimate.

In [ ]:
def slugging(x): 
    bases = x['h']-x['X2b']-x['X3b']-x['hr'] + 2*x['X2b'] + 3*x['X3b'] + 4*x['hr']
    ab = x['ab']+1e-6
    
    return bases/ab

baseball.apply(slugging, axis=1).round(3)

## Sorting and Ranking

Pandas objects include methods for re-ordering data.

In [ ]:
baseball_newind.sort_index().head()

In [ ]:
baseball_newind.sort_index(ascending=False).head()

Try sorting the **columns** instead of the rows, in ascending order:

In [ ]:
baseball_newind.sort_index(axis=1).head()

We can also use `sort_values` to sort a `Series` by value, rather than by label.

In [ ]:
baseball.hr.sort_values()

For a `DataFrame`, we can sort according to the values of one or more columns using the `by` argument of `sort_values`:

In [ ]:
baseball[['player','sb','cs']].sort_values(ascending=[False,True], 
                                           by=['sb', 'cs']).head(10)

**Ranking** does not re-arrange data, but instead returns an index that ranks each value relative to others in the Series.

In [ ]:
baseball.hr.rank()

Ties are assigned the mean value of the tied ranks, which may result in decimal values.

In [ ]:
pd.Series([100,100]).rank()

Alternatively, you can break ties via one of several methods, such as by the order in which they occur in the dataset:

In [ ]:
baseball.hr.rank(method='first')

Calling the `DataFrame`'s `rank` method results in the ranks of all columns:

In [ ]:
baseball.rank(ascending=False).head()

In [ ]:
baseball[['r','h','hr']].rank(ascending=False).head()

### Exercise

Calculate **on base percentage** for each player, and return the ordered series of estimates.

$$OBP = \frac{H + BB + HBP}{AB + BB + HBP + SF}$$

Solution:
1. define a function OBP which calculates the *on base percentage* of every player. (for those whose statistics are all 0, we set their OBP to be 0)
2. apply this function to each row to get a new OBP series.
3. Sort this series in descending order and thus give the estimates

In [ ]:
# Write your answer here
def on_base_percentage(x): 
    nominator = x['h']+ x['X2b']+x['hbp']
    denominator = x['ab']+x['X2b']+x['hbp']+x['sf']+1e-6
    
    return nominator/denominator

baseball.apply(on_base_percentage, axis=1).round(3).sort_values()

## Hierarchical indexing

In the baseball example, I was forced to combine 3 fields to obtain a unique index that was not simply an integer value. A more elegant way to have done this would be to create a hierarchical index from the three fields.

In [ ]:
baseball_h = baseball.set_index(['year', 'team', 'player'])
baseball_h.head(10)

This index is a `MultiIndex` object that consists of a sequence of tuples, the elements of which is some combination of the three columns used to create the index. Where there are multiple repeated values, Pandas does not print the repeats, making it easy to identify groups of values.

In [ ]:
baseball_h.index[:10]

In [ ]:
baseball_h.index.is_unique

Try using this hierarchical index to retrieve Julio Franco (`francju01`), who played for the Atlanta Braves (`ATL`) in 2007:

In [ ]:
baseball_h.loc[(2007, 'ATL', 'francju01')]

Recall earlier we imported some microbiome data using two index columns. This created a 2-level hierarchical index:

In [ ]:
mb = pd.read_csv("Data/microbiome.csv", index_col=['Taxon','Patient'])

In [ ]:
mb.head(10)

With a hierachical index, we can select subsets of the data based on a *partial* index:

In [ ]:
mb.loc['Proteobacteria']

Hierarchical indices can be created on either or both axes. Here is a trivial example:

In [ ]:
frame = pd.DataFrame(np.arange(12).reshape(( 4, 3)), 
                  index =[['a', 'a', 'b', 'b'], [1, 2, 1, 2]], 
                  columns =[['Ohio', 'Ohio', 'Colorado'], ['Green', 'Red', 'Green']])

frame

If you want to get fancy, both the row and column indices themselves can be given names:

In [ ]:
frame.index.names = ['key1', 'key2']
frame.columns.names = ['state', 'color']
frame

With this, we can do all sorts of custom indexing:

In [ ]:
frame.loc['a', 'Ohio']

Try retrieving the value corresponding to `b2` in `Colorado`:

Solution:
Using hiarachical indexing, we select index ('b', 2) as b2, and column 'Colorado' as the target value.

In [ ]:
# Write your answer here
frame.loc[('b', 2), 'Colorado']

Additionally, the order of the set of indices in a hierarchical `MultiIndex` can be changed by swapping them pairwise:

In [ ]:
mb.swaplevel('Patient', 'Taxon').head()

Data can also be sorted by any index level, using `sortlevel`:

In [ ]:
mb.sortlevel('Patient', ascending=False).head()

## Missing data

The occurence of missing data is so prevalent that it pays to use tools like Pandas, which seamlessly integrates missing data handling so that it can be dealt with easily, and in the manner required by the analysis at hand.

Missing data are represented in `Series` and `DataFrame` objects by the `NaN` floating point value. However, `None` is also treated as missing, since it is commonly used as such in other contexts (*e.g.* NumPy).

In [ ]:
foo = pd.Series([np.nan, -3, None, 'foobar'])
foo

In [ ]:
foo.isnull()

Missing values may be dropped or indexed out:

In [ ]:
bacteria2

In [ ]:
bacteria2.dropna()

In [ ]:
bacteria2.isnull()

In [ ]:
bacteria2[bacteria2.notnull()]

By default, `dropna` drops entire rows in which one or more values are missing.

In [ ]:
data.dropna()

This can be overridden by passing the `how='all'` argument, which only drops a row when every field is a missing value.

In [ ]:
data.dropna(how='all')

This can be customized further by specifying how many values need to be present before a row is dropped via the `thresh` argument.

In [ ]:
data.loc[7, 'year'] = np.nan
data

In [ ]:
data.dropna(thresh=4)

This is typically used in time series applications, where there are repeated measurements that are incomplete for some subjects.

### Exercise

Try using the `axis` argument to drop columns with missing values:

add axis in axis = 1 to drop out columns with missing values.

In [ ]:
# Write your answer here
data.dropna(axis=1)

Rather than omitting missing data from an analysis, in some cases it may be suitable to fill the missing value in, either with a default value (such as zero) or a value that is either imputed or carried forward/backward from similar data points. We can do this programmatically in Pandas with the `fillna` argument.

In [ ]:
bacteria2.fillna(0)

In [ ]:
data.fillna({'year': 2013, 'treatment':2})

Notice that `fillna` by default returns a new object with the desired filling behavior, rather than changing the `Series` or  `DataFrame` in place (**in general, we like to do this, by the way!**).

We can alter values in-place using `inplace=True`.

In [ ]:
data.year.fillna(2013, inplace=True)
data

Missing values can also be interpolated, using any one of a variety of methods:

In [ ]:
bacteria2.fillna(method='bfill')

## Data summarization

We often wish to summarize data in `Series` or `DataFrame` objects, so that they can more easily be understood or compared with similar data. The NumPy package contains several functions that are useful here, but several summarization or reduction methods are built into Pandas data structures.

In [ ]:
baseball.sum()

Clearly, `sum` is more meaningful for some columns than others. For methods like `mean` for which application to string variables is not just meaningless, but impossible, these columns are automatically exculded:

In [ ]:
baseball.mean()

The important difference between NumPy's functions and Pandas' methods is that the latter have built-in support for handling missing data.

In [ ]:
bacteria2

In [ ]:
bacteria2.mean()

Sometimes we may not want to ignore missing values, and allow the `nan` to propagate.

In [ ]:
bacteria2.mean(skipna=False)

Passing `axis=1` will summarize over rows instead of columns, which only makes sense in certain situations.

In [ ]:
extra_bases = baseball[['X2b','X3b','hr']].sum(axis=1)
extra_bases.sort_values(ascending=False)

A useful summarization that gives a quick snapshot of multiple statistics for a `Series` or `DataFrame` is `describe`:

In [ ]:
baseball.describe()

`describe` can detect non-numeric data and sometimes yield useful information about it.

In [ ]:
baseball.player.describe()

We can also calculate summary statistics *across* multiple columns, for example, correlation and covariance.

$$cov(x,y) = \sum_i (x_i - \bar{x})(y_i - \bar{y})$$

In [ ]:
baseball.hr.cov(baseball.X2b)

$$corr(x,y) = \frac{cov(x,y)}{(n-1)s_x s_y} = \frac{\sum_i (x_i - \bar{x})(y_i - \bar{y})}{\sqrt{\sum_i (x_i - \bar{x})^2 \sum_i (y_i - \bar{y})^2}}$$

In [ ]:
baseball.hr.corr(baseball.X2b)

In [ ]:
baseball.ab.corr(baseball.h)

Try running `corr` on the entire `baseball` DataFrame to see what is returned:

In [ ]:
# Write answer here
baseball.corr()

If we have a `DataFrame` with a hierarchical index (or indices), summary statistics can be applied with respect to any of the index levels:

In [ ]:
mb.head()

In [ ]:
mb.sum(level='Taxon')

## Writing Data to Files

As well as being able to read several data input formats, Pandas can also export data to a variety of storage formats. We will bring your attention to just a couple of these.

In [ ]:
mb.to_csv("mb.csv")

The `to_csv` method writes a `DataFrame` to a comma-separated values (csv) file. You can specify custom delimiters (via `sep` argument), how missing values are written (via `na_rep` argument), whether the index is writen (via `index` argument), whether the header is included (via `header` argument), among other options.

An efficient way of storing data to disk is in binary format. Pandas supports this using Pythons built-in pickle serialization.

In [ ]:
baseball.to_pickle("baseball_pickle")

The complement to `to_pickle` is the `read_pickle` function, which restores the pickle to a `DataFrame` or `Series`:

In [ ]:
pd.read_pickle("baseball_pickle")

As Wes warns in his book, it is recommended that binary storage of data via pickle only be used as a temporary storage format, in situations where speed is relevant. This is because there is no guarantee that the pickle format will not change with future versions of Python.

### Advanced Exercise: Compiling Ebola Data

The `Data/ebola` folder contains summarized reports of Ebola cases from three countries during the recent outbreak of the disease in West Africa. For each country, there are daily reports that contain various information about the outbreak in several cities in each country.

From these data files, use pandas to import them and create a single data frame that includes the daily totals of new cases and deaths for each country.

#### Solution

First, we import all the data in the following folders and concat them

In [2]:
import glob
import pandas as pd

l = [pd.read_csv(filename) for filename in glob.glob("data/ebola/guinea_data/*.csv")]
guinea_data = pd.concat(l, join='outer')

Here is the set of descriptions we know

In [3]:
guinea_data.Description.value_counts()

Total deaths of suspects                                    22
New cases of probables                                      22
Cumulative (confirmed + probable + suspects)                22
Total cases of suspects                                     22
Total cases of probables                                    22
Total deaths of probables                                   22
Total deaths of confirmed                                   22
Total cases of confirmed                                    22
Total contacts registered from start date                   22
New cases of confirmed                                      22
Total new cases registered so far                           22
Total deaths (confirmed + probables + suspects)             22
Number of contacts to follow today                          22
New cases of suspects                                       22
Total deaths registered among health workers                21
New admits to CTE so far                                    21
Total case of confirmed among health workers                21
New deaths registered                                       21
Number of contacts lost to follow up                        21
New contacts registered so far                              21
Total number of hospitalized cases in CTE                   21
New deaths registered among health workers                  21
Total number of admissions to CTE                           21
Total samples tested                                        21
Number of contacts followed today                           21
Total number of exits from CTE                              21
New cases of confirmed among health workers                 21
Number of samples collected today                           21
Fatality rate for confirmed and probables                   21
Total suspected non-class cases                             21
Number of contacts out of the track 21 days                 21
Number of samples under test                                21
New deaths registered today (confirmed)                      1
Number of female confirmed cases                             1
Total of cured in confirmed cases in CTE                     1
Number of deaths of probables cases among health workers     1
Number of female probables cases                             1
Number of probables cases among health workers               1
Number of contacts out of track                              1
Number of suspects cases among health workers                1
Number of male confirmed cases                               1
Number of female suspects cases                              1
Number of death of confirmed cases among health workers      1
New deaths registered today (probables)                      1
New deaths registered today                                  1
Number of male probables cases                               1
Number of contacts followed yesterday                        1
Number of confirmed cases among health workers               1
Number of male suspects cases                                1
Total of deaths in confirmed cases in CTE                    1
Total PEC center today                                       1
Total number of male cases                                   1
Number of samples collected                                  1
Number of deaths of confirmed cases among health workers     1
Total PEC center today (suspects)                            1
Number of patients tested                                    1
Total PEC center today (confirmed)                           1
New deaths registered today (suspects)                       1
Total PEC center today (probables)                           1
Total number of female cases                                 1
Name: Description, dtype: int64

Among which we only cares about the two of them, that is `Total new cases registered so far` and `New deaths registered`. Notice that there is a `New deaths registered today` which should be same with `New deaths registered`

In [4]:
guinea_data['Description'].replace('New deaths registered today', 'New deaths registered', inplace=True)

The only Description we care about is the total new cases and new death registered

In [5]:
guinea_data1 = guinea_data[guinea_data.Description.isin(['Total new cases registered so far', 
                                                         'New deaths registered'])]

In [6]:
guinea_data3 = guinea_data1[['Description', 'Date', 'Totals']]
guinea_data3.head()

                         Description        Date Totals
3  Total new cases registered so far  2014-08-04      9
8              New deaths registered  2014-08-04      2
3  Total new cases registered so far  2014-08-26     28
9              New deaths registered  2014-08-26      5
3  Total new cases registered so far  2014-08-27     22

In [7]:
guinea_data4 = guinea_data3.set_index(['Description', 'Date']).sort_index()
guinea_data4.columns = ['Guinea']
guinea_data4

                                             Guinea
Description                       Date
New deaths registered             2014-08-04      2
                                  2014-08-26      5
                                  2014-08-27      2
                                  2014-08-30      5
                                  2014-08-31      3
                                  2014-09-02      5
                                  2014-09-04      5
                                  2014-09-07      4
                                  2014-09-08      4
                                  2014-09-09      7
                                  2014-09-11      2
                                  2014-09-14      1
                                  2014-09-16      3
                                  2014-09-17      3
                                  2014-09-19      5
                                  2014-09-21      0
                                  2014-09-22      3
                                  2014-09-23      3
                                  2014-09-24      3
                                  2014-09-26      5
                                  2014-09-30      4
                                  2014-10-01     15
Total new cases registered so far 2014-08-04      9
                                  2014-08-26     28
                                  2014-08-27     22
                                  2014-08-30     24
                                  2014-08-31     46
                                  2014-09-02     25
                                  2014-09-04     30
                                  2014-09-07     16
                                  2014-09-08     16
                                  2014-09-09     16
                                  2014-09-11     22
                                  2014-09-14     25
                                  2014-09-16     10
                                  2014-09-17     10
                                  2014-09-19     16
                                  2014-09-21     18
                                  2014-09-22     19
                                  2014-09-23     29
                                  2014-09-24     28
                                  2014-09-26     19
                                  2014-09-30     15
                                  2014-10-01     34

### Second country Liberia

In [8]:
lliberia = [pd.read_csv(filename) for filename in glob.glob("data/ebola/liberia_data/*.csv")]
liberia_data = pd.concat(lliberia, join='outer')

In [9]:
liberia_data.columns

Index(['Bomi County', 'Bong County', 'Date', 'Gbarpolu County', 'Grand Bassa',
       'Grand Cape Mount', 'Grand Gedeh', 'Grand Kru', 'Lofa County',
       'Margibi County', 'Maryland County', 'Montserrado County', 'National',
       'Nimba County', 'River Gee County', 'RiverCess County', 'Sinoe County',
       'Unnamed: 18', 'Variable'],
      dtype='object')

For this data, we use `Variable` column the same way as `Description` in Guinea and `National` here is the same as `Totals` there. So we substitue the names

In [10]:
liberia_data.columns = ['Bomi County', 'Bong County', 'Date', 'Gbarpolu County', 'Grand Bassa',
       'Grand Cape Mount', 'Grand Gedeh', 'Grand Kru', 'Lofa County',
       'Margibi County', 'Maryland County', 'Montserrado County', 'Totals',
       'Nimba County', 'River Gee County', 'RiverCess County', 'Sinoe County',
       'Unnamed: 18', 'Description']

This time, we choose *Newly Reported Cases in HCW* and *Newly Reported deaths in HCW* as new reported cases and new deaths.

In [11]:
liberia_data.Description.value_counts()

Total death/s in confirmed cases                                    101
Total death/s in probable cases                                     101
Total death/s in suspected cases                                    101
Cumulative deaths among HCW                                         101
Cumulative cases among HCW                                          101
New case/s (confirmed)                                              100
Total discharges                                                    100
Newly reported contacts                                             100
Total confirmed cases                                               100
New Case/s (Probable)                                               100
Currently under follow-up                                           100
Newly Reported deaths in HCW                                        100
Total suspected cases                                               100
Newly Reported Cases in HCW                                         100
Contacts seen                                                       100
Newly reported deaths                                               100
Contacts lost to follow-up                                          100
New Case/s (Suspected)                                              100
New admissions                                                      100
Total probable cases                                                100
Total contacts listed                                               100
Specimens pending for testing                                        99
Cumulative admission/isolation                                       99
Specimens collected                                                  99
Total specimens tested                                               99
Total Number of Confirmed Cases of Sierra Leonean Nationality        76
Total death/s in confirmed, probable, suspected cases                76
Contacts who completed 21 day follow-up                              76
Total Number of Confirmed Cases of Guinean Nationality               76
Case Fatality Rate (CFR) - Confirmed & Probable Cases                76
Total no. currently in Treatment Units                               76
Cumulative confirmed, probable and suspected cases                   33
Case Fatality Rate (CFR) - \n Confirmed & Probable Cases             24
Total death/s in confirmed, \n probable, suspected cases             24
Contacts who completed 21 day \n follow-up                           24
Total no. currently in Treatment \n Units                            24
Total Number of Confirmed Cases \n of Guinean Nationality            24
Total Number of Confirmed Cases \n of Sierra Leonean Nationality     24
Cumulative (confirmed + probable + suspects)                         11
Cumulative (confirmed + probable + suspected)                         2
Total death/s in confirmed,  probable, suspected cases                1
Total Case/s (Probable)                                               1
Total Case/s (Suspected)                                              1
Total case/s (confirmed)                                              1
Cumulative CFR                                                        1
Name: Description, dtype: int64

For convinence, we use replace the same name

In [12]:
liberia_data.Description.replace('Newly Reported Cases in HCW', 'Total new cases registered so far', inplace=True)
liberia_data.Description.replace('Newly Reported deaths in HCW', 'New deaths registered', inplace=True)

In [13]:
liberia_data.Description

0                                   Specimens collected
1                         Specimens pending for testing
2                                Total specimens tested
3                                 Newly reported deaths
4                      Total death/s in confirmed cases
5                       Total death/s in probable cases
6                      Total death/s in suspected cases
7     Total death/s in confirmed, probable, suspecte...
8     Case Fatality Rate (CFR) - Confirmed & Probabl...
9                               Newly reported contacts
10                                Total contacts listed
11                            Currently under follow-up
12                                        Contacts seen
13              Contacts who completed 21 day follow-up
14                           Contacts lost to follow-up
15                                       New admissions
16               Total no. currently in Treatment Units
17                                     Total discharges
18                       Cumulative admission/isolation
19                    Total new cases registered so far
20                           Cumulative cases among HCW
21                                New deaths registered
22                          Cumulative deaths among HCW
23                               New Case/s (Suspected)
24                                New Case/s (Probable)
25                               New case/s (confirmed)
26                                Total suspected cases
27                                 Total probable cases
28                                Total confirmed cases
29    Total Number of Confirmed Cases of Sierra Leon...
                            ...
2                                Total specimens tested
3                                 Newly reported deaths
4                      Total death/s in confirmed cases
5                       Total death/s in probable cases
6                      Total death/s in suspected cases
7     Total death/s in confirmed, \n probable, suspe...
8     Case Fatality Rate (CFR) - \n Confirmed & Prob...
9                               Newly reported contacts
10                                Total contacts listed
11                            Currently under follow-up
12                                        Contacts seen
13           Contacts who completed 21 day \n follow-up
14                           Contacts lost to follow-up
15                                       New admissions
16            Total no. currently in Treatment \n Units
17                                     Total discharges
18                       Cumulative admission/isolation
19                    Total new cases registered so far
20                           Cumulative cases among HCW
21                                New deaths registered
22                          Cumulative deaths among HCW
23                               New Case/s (Suspected)
24                                New Case/s (Probable)
25                               New case/s (confirmed)
26                                Total suspected cases
27                                 Total probable cases
28                                Total confirmed cases
29    Total Number of Confirmed Cases \n of Sierra L...
30    Total Number of Confirmed Cases \n of Guinean ...
31    Cumulative confirmed, probable and suspected c...
Name: Description, dtype: object

In [14]:
liberia_data1 = liberia_data[liberia_data.Description.isin(['Total new cases registered so far', 
                                                         'New deaths registered'])]

In [15]:
liberia_data1.shape

(200, 19)

In [16]:
liberia_data3 = liberia_data1[['Description', 'Date', 'Totals']]
liberia_data3

                          Description        Date  Totals
19  Total new cases registered so far   6/16/2014     0.0
21              New deaths registered   6/16/2014     0.0
19  Total new cases registered so far   6/17/2014     0.0
21              New deaths registered   6/17/2014     0.0
19  Total new cases registered so far   6/22/2014     4.0
21              New deaths registered   6/22/2014     0.0
19  Total new cases registered so far   6/24/2014     0.0
21              New deaths registered   6/24/2014     0.0
19  Total new cases registered so far     6/25/14     2.0
21              New deaths registered     6/25/14     1.0
19  Total new cases registered so far   6/28/2014     1.0
21              New deaths registered   6/28/2014     0.0
19  Total new cases registered so far   6/29/2014     1.0
21              New deaths registered   6/29/2014     0.0
19  Total new cases registered so far    7/1/2014     0.0
21              New deaths registered    7/1/2014     1.0
19  Total new cases registered so far    7/2/2014     0.0
21              New deaths registered    7/2/2014     0.0
19  Total new cases registered so far    7/3/2014     0.0
21              New deaths registered    7/3/2014     1.0
19  Total new cases registered so far    7/7/2014     0.0
21              New deaths registered    7/7/2014     0.0
19  Total new cases registered so far    7/8/2014     0.0
21              New deaths registered    7/8/2014     0.0
19  Total new cases registered so far   7/10/2014     0.0
21              New deaths registered   7/10/2014     0.0
19  Total new cases registered so far   7/13/2014     0.0
21              New deaths registered   7/13/2014     0.0
19  Total new cases registered so far   7/17/2014     1.0
21              New deaths registered   7/17/2014     0.0
..                                ...         ...     ...
19  Total new cases registered so far  11/24/2014     0.0
21              New deaths registered  11/24/2014     0.0
19  Total new cases registered so far  11/26/2014     3.0
21              New deaths registered  11/26/2014     0.0
19  Total new cases registered so far  11/27/2014     0.0
21              New deaths registered  11/27/2014     0.0
19  Total new cases registered so far  11/28/2014     0.0
21              New deaths registered  11/28/2014     0.0
19  Total new cases registered so far  11/29/2014     0.0
21              New deaths registered  11/29/2014     0.0
19  Total new cases registered so far  11/30/2014     1.0
21              New deaths registered  11/30/2014     0.0
19  Total new cases registered so far   12/1/2014     NaN
21              New deaths registered   12/1/2014     NaN
19  Total new cases registered so far   12/2/2014     1.0
21              New deaths registered   12/2/2014     0.0
19  Total new cases registered so far   12/3/2014     NaN
21              New deaths registered   12/3/2014     NaN
19  Total new cases registered so far   12/4/2014     NaN
21              New deaths registered   12/4/2014     NaN
19  Total new cases registered so far   12/5/2014     NaN
21              New deaths registered   12/5/2014     NaN
19  Total new cases registered so far   12/6/2014     NaN
21              New deaths registered   12/6/2014     NaN
19  Total new cases registered so far   12/7/2014     NaN
21              New deaths registered   12/7/2014     NaN
19  Total new cases registered so far   12/8/2014     NaN
21              New deaths registered   12/8/2014     NaN
19  Total new cases registered so far   12/9/2014     NaN
21              New deaths registered   12/9/2014     NaN

[200 rows x 3 columns]

In [17]:
liberia_data3=liberia_data3.fillna(0)

Convert the time to a standard format

In [18]:
liberia_data3['Date'].apply(pd.to_datetime)

19   2014-06-16
21   2014-06-16
19   2014-06-17
21   2014-06-17
19   2014-06-22
21   2014-06-22
19   2014-06-24
21   2014-06-24
19   2014-06-25
21   2014-06-25
19   2014-06-28
21   2014-06-28
19   2014-06-29
21   2014-06-29
19   2014-07-01
21   2014-07-01
19   2014-07-02
21   2014-07-02
19   2014-07-03
21   2014-07-03
19   2014-07-07
21   2014-07-07
19   2014-07-08
21   2014-07-08
19   2014-07-10
21   2014-07-10
19   2014-07-13
21   2014-07-13
19   2014-07-17
21   2014-07-17
        ...
19   2014-11-24
21   2014-11-24
19   2014-11-26
21   2014-11-26
19   2014-11-27
21   2014-11-27
19   2014-11-28
21   2014-11-28
19   2014-11-29
21   2014-11-29
19   2014-11-30
21   2014-11-30
19   2014-12-01
21   2014-12-01
19   2014-12-02
21   2014-12-02
19   2014-12-03
21   2014-12-03
19   2014-12-04
21   2014-12-04
19   2014-12-05
21   2014-12-05
19   2014-12-06
21   2014-12-06
19   2014-12-07
21   2014-12-07
19   2014-12-08
21   2014-12-08
19   2014-12-09
21   2014-12-09
Name: Date, dtype: datetime64[ns]

In [19]:
liberia_data4 = liberia_data3.set_index(['Description', 'Date']).sort_index()
liberia_data4.columns = ['liberia']
liberia_data4

                                              liberia
Description                       Date
New deaths registered             09/23/2014      2.0
                                  09/25/2014      0.0
                                  09/26/2014      0.0
                                  09/27/2014      0.0
                                  10/1/2014       0.0
                                  10/10/2014      0.0
                                  10/11/14        0.0
                                  10/12/14        0.0
                                  10/13/14        0.0
                                  10/16/14        0.0
                                  10/17/14        0.0
                                  10/18/14        0.0
                                  10/19/14        0.0
                                  10/20/14        0.0
                                  10/21/2014      0.0
                                  10/22/2014      0.0
                                  10/23/2014      0.0
                                  10/24/14        0.0
                                  10/25/2014      0.0
                                  10/28/2014      0.0
                                  10/29/2014      0.0
                                  10/3/2014       0.0
                                  10/30/2014      1.0
                                  10/31/2014      0.0
                                  10/4/14         0.0
                                  10/5/14         0.0
                                  10/7/2014       0.0
                                  10/8/2014       0.0
                                  10/9/2014       0.0
                                  11/14/2014      0.0
...                                               ...
Total new cases registered so far 7/8/2014        0.0
                                  8/12/2014       1.0
                                  8/15/2014       2.0
                                  8/17/2014       0.0
                                  8/18/2014       1.0
                                  8/2/2014        0.0
                                  8/20/14         0.0
                                  8/25/2014       1.0
                                  8/28/2014       3.0
                                  8/4/14          0.0
                                  9/1/2014        4.0
                                  9/10/2014       1.0
                                  9/11/2014       1.0
                                  9/12/2014       3.0
                                  9/13/2014       0.0
                                  9/14/2014       1.0
                                  9/15/2014       4.0
                                  9/16/2014       0.0
                                  9/17/2014       0.0
                                  9/2/2014        2.0
                                  9/20/2014       3.0
                                  9/21/2014       1.0
                                  9/28/2014       0.0
                                  9/3/2014        2.0
                                  9/30/2014       1.0
                                  9/4/2014        3.0
                                  9/5/2014        1.0
                                  9/6/2014        3.0
                                  9/7/2014        3.0
                                  9/8/2014        1.0

[200 rows x 1 columns]

### Country 3 SL

In [20]:
lsl = [pd.read_csv(filename) for filename in glob.glob("data/ebola/sl_data/*.csv")]
sl_data = pd.concat(lsl, join='outer')

We change the column names the same way in country2

In [21]:
sl_data.columns

Index(['34 Military Hospital', 'Bo', 'Bo EMC', 'Bombali', 'Bonthe',
       'Hastings-F/Town', 'Kailahun', 'Kambia', 'Kenema', 'Kenema (IFRC)',
       'Kenema (KGH)', 'Koinadugu', 'Kono', 'Moyamba', 'National',
       'Police training School', 'Police traning School', 'Port Loko',
       'Pujehun', 'Tonkolili', 'Unnamed: 18', 'Western area',
       'Western area combined', 'Western area rural', 'Western area urban',
       'date', 'variable'],
      dtype='object')

In [22]:
sl_data.columns = ['34 Military Hospital', 'Bo', 'Bo EMC', 'Bombali', 'Bonthe',
       'Hastings-F/Town', 'Kailahun', 'Kambia', 'Kenema', 'Kenema (IFRC)',
       'Kenema (KGH)', 'Koinadugu', 'Kono', 'Moyamba', 'Totals',
       'Police training School', 'Police traning School', 'Port Loko',
       'Pujehun', 'Tonkolili', 'Unnamed: 18', 'Western area',
       'Western area combined', 'Western area rural', 'Western area urban',
       'Date', 'Description']

In [23]:
sl_data.Description.value_counts()

cum_completed_contacts    103
etc_currently_admitted    103
population                103
new_suspected             103
percent_seen              103
cum_contacts              103
etc_new_discharges        103
new_noncase               103
death_probable            103
cum_probable              103
cum_confirmed             103
cum_suspected             103
etc_new_deaths            103
cfr                       103
cum_noncase               103
death_suspected           103
contacts_ill              103
etc_new_admission         103
new_completed_contacts    103
new_confirmed             103
contacts_healthy          103
new_contacts              103
new_probable              103
etc_cum_admission         103
etc_cum_deaths            103
etc_cum_discharges        103
contacts_followed         103
contacts_not_seen         103
death_confirmed           103
pending                    35
positive_corpse            35
negative_corpse            35
repeat_samples             34
total_lab_samples          34
new_positive               34
new_samples                34
new_negative               34
Name: Description, dtype: int64

In [24]:
sl_data.Description.value_counts()

cum_completed_contacts    103
etc_currently_admitted    103
population                103
new_suspected             103
percent_seen              103
cum_contacts              103
etc_new_discharges        103
new_noncase               103
death_probable            103
cum_probable              103
cum_confirmed             103
cum_suspected             103
etc_new_deaths            103
cfr                       103
cum_noncase               103
death_suspected           103
contacts_ill              103
etc_new_admission         103
new_completed_contacts    103
new_confirmed             103
contacts_healthy          103
new_contacts              103
new_probable              103
etc_cum_admission         103
etc_cum_deaths            103
etc_cum_discharges        103
contacts_followed         103
contacts_not_seen         103
death_confirmed           103
pending                    35
positive_corpse            35
negative_corpse            35
repeat_samples             34
total_lab_samples          34
new_positive               34
new_samples                34
new_negative               34
Name: Description, dtype: int64

In [25]:
sl_data.Description.replace('new_confirmed', 'Total new cases registered so far', inplace=True)
sl_data.Description.replace('etc_new_deaths', 'New deaths registered', inplace=True)

In [26]:
sl_data1 = sl_data[sl_data.Description.isin(['Total new cases registered so far', 
                                                         'New deaths registered'])]

In [27]:
sl_data3 = sl_data1[['Description', 'Date', 'Totals']]
sl_data3

                          Description        Date Totals
4   Total new cases registered so far  2014-08-12     11
16              New deaths registered  2014-08-12    NaN
4   Total new cases registered so far  2014-08-13     15
16              New deaths registered  2014-08-13    NaN
4   Total new cases registered so far  2014-08-14     13
16              New deaths registered  2014-08-14    NaN
4   Total new cases registered so far  2014-08-15     10
16              New deaths registered  2014-08-15    NaN
4   Total new cases registered so far  2014-08-16     18
16              New deaths registered  2014-08-16    NaN
4   Total new cases registered so far  2014-08-17      2
16              New deaths registered  2014-08-17    NaN
4   Total new cases registered so far  2014-08-18      5
16              New deaths registered  2014-08-18    NaN
4   Total new cases registered so far  2014-08-19      9
16              New deaths registered  2014-08-19    NaN
4   Total new cases registered so far  2014-08-20      4
16              New deaths registered  2014-08-20    NaN
4   Total new cases registered so far  2014-08-21      9
16              New deaths registered  2014-08-21    NaN
4   Total new cases registered so far  2014-08-22     56
16              New deaths registered  2014-08-22    NaN
4   Total new cases registered so far  2014-08-23     23
16              New deaths registered  2014-08-23    NaN
4   Total new cases registered so far  2014-08-24     31
16              New deaths registered  2014-08-24    NaN
4   Total new cases registered so far  2014-08-25     20
16              New deaths registered  2014-08-25    NaN
4   Total new cases registered so far  2014-08-26    NaN
16              New deaths registered  2014-08-26    NaN
..                                ...         ...    ...
4   Total new cases registered so far  2014-11-17     53
16              New deaths registered  2014-11-17    NaN
4   Total new cases registered so far  2014-11-18     43
16              New deaths registered  2014-11-18    NaN
4   Total new cases registered so far  2014-11-19    NaN
16              New deaths registered  2014-11-19    NaN
4   Total new cases registered so far  2014-11-20     94
16              New deaths registered  2014-11-20    NaN
4   Total new cases registered so far  2014-11-21     51
16              New deaths registered  2014-11-21    NaN
4   Total new cases registered so far  2014-11-22     47
16              New deaths registered  2014-11-22    NaN
4   Total new cases registered so far  2014-11-23     39
16              New deaths registered  2014-11-23    NaN
4   Total new cases registered so far  2014-11-24     83
16              New deaths registered  2014-11-24    NaN
4   Total new cases registered so far  2014-11-28     84
16              New deaths registered  2014-11-28    NaN
4   Total new cases registered so far  2014-11-29     64
16              New deaths registered  2014-11-29    NaN
4   Total new cases registered so far  2014-12-01     72
16              New deaths registered  2014-12-01    NaN
4   Total new cases registered so far  2014-12-04     37
16              New deaths registered  2014-12-04      3
4   Total new cases registered so far  2014-12-05     54
16              New deaths registered  2014-12-05      8
4   Total new cases registered so far  2014-12-06    NaN
16              New deaths registered  2014-12-06    NaN
4   Total new cases registered so far  2014-12-13    NaN
16              New deaths registered  2014-12-13    NaN

[206 rows x 3 columns]

In [28]:
sl_data3=sl_data3.fillna(0)

In [29]:
sl_data4 = sl_data3.set_index(['Description', 'Date']).sort_index()
sl_data4.columns = ['sl']
sl_data4

                                               sl
Description                       Date
New deaths registered             2014-08-12    0
                                  2014-08-13    0
                                  2014-08-14    0
                                  2014-08-15    0
                                  2014-08-16    0
                                  2014-08-17    0
                                  2014-08-18    0
                                  2014-08-19    0
                                  2014-08-20    0
                                  2014-08-21    0
                                  2014-08-22    0
                                  2014-08-23    0
                                  2014-08-24    0
                                  2014-08-25    0
                                  2014-08-26    0
                                  2014-08-27    0
                                  2014-08-28    0
                                  2014-08-29    0
                                  2014-08-30    0
                                  2014-08-31    0
                                  2014-09-01    0
                                  2014-09-02    0
                                  2014-09-03    0
                                  2014-09-05    0
                                  2014-09-06    0
                                  2014-09-07    0
                                  2014-09-08    0
                                  2014-09-09    0
                                  2014-09-10    0
                                  2014-09-11    0
...                                           ...
Total new cases registered so far 2014-10-27   91
                                  2014-10-28   47
                                  2014-10-30   50
                                  2014-10-31   95
                                  2014-11-01   60
                                  2014-11-02   61
                                  2014-11-06   41
                                  2014-11-07   45
                                  2014-11-08  111
                                  2014-11-10   94
                                  2014-11-12   61
                                  2014-11-13   84
                                  2014-11-14    0
                                  2014-11-15   54
                                  2014-11-16   89
                                  2014-11-17   53
                                  2014-11-18   43
                                  2014-11-19    0
                                  2014-11-20   94
                                  2014-11-21   51
                                  2014-11-22   47
                                  2014-11-23   39
                                  2014-11-24   83
                                  2014-11-28   84
                                  2014-11-29   64
                                  2014-12-01   72
                                  2014-12-04   37
                                  2014-12-05   54
                                  2014-12-06    0
                                  2014-12-13    0

[206 rows x 1 columns]

## References

[Python for Data Analysis](http://shop.oreilly.com/product/0636920023784.do) Wes McKinney