In [2]:
import pandas as pd                                     # for dealing with csv import
import numpy as np                                      # arrays and other matlab like manipulation
import os                                               # for joining paths and filenames sensibly
import matplotlib.pyplot as plt                         # Matplotlib's pyplot: MATLAB-like syntax
import scipy.stats.mstats as ssm                        # for bootstrap
from scipy.stats import gaussian_kde as kde
import random

%matplotlib inline
import seaborn as sns                                   # For pretty plots

# from mpld3 import display_d3
# mpld3.enable_notebook()                               # Uncomment these lines to use interactive plots as a default. This can lead to slow loading of the notebook
# mpld3.disable_notebook()

TODO:

- class balancing: if imbalanced, the accuracy itself is not a good creterion.
-


- Drop out column `player`. Use `playerShort` as id
- Average `rater 1` and `rater 2` if the player is rated.
- Convert `birthday` to the year they were born. As the creterion of giving red card may change over time. It makes more sense to compare their birthday because players usually enters the league at similar age. In this way, we can avoid the birthday is too small
- One item in `Alpha_3` is nan, we will convert it to `unknown`
- map club name to different index.

In [36]:
df = pd.read_csv('CrowdstormingDataJuly1st.csv')

In [111]:
clf = RandomForestClassifier(max_depth=None, min_samples_split=2,
    random_state=0)
cross_val_score(clf, X, new_y, cv=2)

array([ 0.28504122,  0.28912949])

In [139]:
from sklearn.model_selection import cross_val_score
from sklearn.datasets import make_blobs
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.tree import DecisionTreeClassifier

X, y = make_blobs(n_samples=10000, n_features=10, centers=100,
    random_state=0)

clf = RandomForestClassifier(max_depth=None, min_samples_split=2,n_estimators=1,
    random_state=0)
scores = cross_val_score(clf, X, y)
scores.mean()

0.95952465834818768

In [40]:
clf = RandomForestClassifier(n_estimators=10, max_depth=None,
    min_samples_split=2, random_state=0)
scores = cross_val_score(clf, X, y)
scores.mean()

0.99960784313725493

In [41]:
clf = ExtraTreesClassifier(n_estimators=10, max_depth=None,
    min_samples_split=2, random_state=0)
scores = cross_val_score(clf, X, y)
scores.mean() > 0.999

True

In [50]:
len(df['Alpha_3'])

146028

In [54]:
df['Alpha_3'].fillna('').value_counts()

DEU     27317
ENGL    26316
FRA     20599
ESP     19355
ITA      5102
NLD      3557
PRT      2946
BEL      2418
SCOT     1900
CHE      1886
SWE      1808
GRC      1711
RUS      1710
NOR      1645
TUR      1587
AUT      1583
DNK      1370
ARG      1160
ROU      1123
POL      1026
BRA       995
CZE       983
SVN       904
HRV       876
HUN       874
SVK       722
IRL       708
MEX       684
ISR       610
USA       603
        ...
GUY         8
COG         7
CUB         6
TZA         6
SYR         6
FJI         5
RWA         5
BGD         4
TCD         4
LIE         4
LBR         3
MOZ         3
HTI         3
COD         3
CYM         2
CPV         2
DOM         2
ANT         2
LKA         2
SWZ         2
SLB         2
NCL         2
IRQ         1
ABW         1
VUT         1
TKM         1
NPL         1
PRK         1
CAF         1
            1
Name: Alpha_3, dtype: int64